<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        Hi, {{ user.first_name }}!
        <a href="{% url 'authentication:logout' %}"> <button> Logout </button></a>
    {% else %}
        <a href="{% url 'authentication:login' %}"><button> Login </button></a>
        <a href="{% url 'authentication:signup' %}"><button> SignUp </button></a>
    {% endif %}
    {% block main_page %}
    {% endblock %}
{% endblock %}